
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Karla", sans-serif;
    background-color: #ecfdf5;
    font-size: 2rem;
}

.text {
    color:#1F2937
    font-size: ;
    font-weight: bold;
    margin: 0em 3em;
    border: 3px solid black
}

.text.two {
    color: #10B981;
}

.text.three {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 1rem;
}

.boxes {
    display: flex;
    justify-content: space-around;  
}

button {
    margin: 3em;
}

.box {
    width: 15em;
    height: auto;
    color: #10B981;
    font-size: 1rem;
    padding: .5em 3em;
    background-color: #1F2937;
    border-radius: 5px;
    text-align: center;
}