
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --clr-light: #1F2937;
    --clr-dark: #ECFDF5;
}

/* The :root selector in CSS represents the highest-level parent of your HTML document, 
which is typically the <html> element. When you define custom properties (variables) using :root, 
they are accessible throughout your entire document. This makes it easy to set default values for your variables. */

/* I do not yet understand why ":root" has to have the opposite intended colors rather than ".dark-mode" in order to get the effect */

.dark-mode {
    --clr-dark: #1F2937;
    --clr-light: #ECFDF5;
}

body {
    background-color: #1C1C1C; 
}

.project {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 20vh;
    width: 550px;
    height: 550px;
    padding: 2rem 3rem 0rem 3rem;
    font-family: "Inter", sans-serif;
    background-color: var(--clr-light);
}

.text {
    color: var(--clr-dark);
}

.one,
.two {
    font-size: 2.3rem;
    font-family: "Karla", sans-serif;
    font-weight: 800;
}

.two {
    color: #10B981;
}

.text .three {
    margin-top: .3em;
    font-size: 1.2rem;
    font-weight: 350;
    color: #6B7280
}

button {
    border: 4px solid transparent;
    border-radius: 10px;
    width: fit-content;
    padding: .8em 2.3em;
    font-size: .9rem;
    background-color: #10B981;
    color: white;
}

button.theme-toggle {
    align-self: flex-end;
    font-size: .6rem;
}

button:hover {
    border: 4px solid var(--clr-dark);
    transition: 0.2s ease;
    
}

hr {
    color: #D5D4D8;
}

.boxes {
    display: flex;
    gap: 1.5rem;
    background: transparent;
}

.box {
    border-radius: 5px;
    width: 15rem;
    height: 2.5rem;
    padding: .6rem 0rem .1rem .4rem;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    background-color: #273549;
    color: #5DEF92;
}

.box:hover {
    border: 4px solid #5DEF92;
    transition: 0.2s;
}
