
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Karla", sans-serif;
    background-color: #ecfdf5;
}

.text {
    color:#1F2937
    font-size: 2rem;
    font-weight: bold;
}

.text.two {
    color: #10B981;
}

.text.three {
    font-family: "Inter", sans-serif;
    font-weight: 200;
}

.boxes {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    width: 12em;
    height: auto;
    color: #10B981;
    font-size: 1rem;
    font-weight: ;
}